@model List<ASPNETCore.Models.Note>

@{
    ViewData["Title"] = "Moje poznamky"; 
}

@foreach (ASPNETCore.Models.Note poznamka in Model)
{
    <div>
        <b>@poznamka.Title</b> <i>@poznamka.Created</i>
        <p>@poznamka.Content</p>
    </div>
}
