@{
    ViewData["Title"] = "Login";
}

<form action="/User/Login" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Uzivatelske jmeno...">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Heslo...">
    </div>

    <input type="submit" value="Přihlášení"/>
</form>
