@{
    ViewData["Title"] = "Register";
}

@{
    if (!string.IsNullOrEmpty(ViewData["chyba"]?.ToString()))
    {
        <span class="chyba">@ViewData["chyba"]</span>
    }
}

<form action="/User/Register" method="post">
    
    <input type="text" name="username" placeholder="Uzivatelske jmeno..."/>
    <br />

    <input type="password" name="password" placeholder="Heslo..."/>
    <br />

    <input type="password" name="passwordCheck" placeholder="Heslo pro kontrolu...">
    <br />

    <input type="submit" value="Registrovat"/>
</form>